<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>  
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <target name="file" xsi:type="File" fileName="log.txt" />
      </targets>
    </nlog>
  
    <appSettings>
      <add key="BaseUri" value="https://dev-upload-17102017.erp.horticultureonline.co.uk/api/v1/" />
      <!--<add key="BaseUri" value="https://dev.erp.horticultureonline.co.uk/api/v1" />-->
      <add key="AuthorizationKey" value="Bearer YO3W7RcatOhP3fxlDJvI9QjkVeSKBp3DTMBP1SYDwig51bxDlsN0quVElofJ" />
      <add key="SageDataPath" value="C:\ProgramData\Sage\Accounts\2018\COMPANY.000\ACCDATA" />
      <add key="SageUsername" value="Manager" />
      <add key="SagePassword" value="447657" />
      <add key="EnableSilentLogOn" value="false" />
      <add key="DownloadSingleOrders" value="true" />
      <add key="PreventDuplicates" value="true"/>
      <add key="DatabasePath" value="C:\Users\barry\Dropbox\Code\OutputDigital\OutputDigital\Growflo Integrator\Growflow.Integration.Quantil\Database\Quantil.sqlite"/>
      <add key="ApplicationDataPath" value="C:\Users\barry\Dropbox\Code\OutputDigital\OutputDigital\Growflo Integrator\Data" />
      <add key="LogJson" value="False" />
      <add key="SendEmailNotification" value="true"/>
      <add key="EmailTo" value="barrycurrie@gmail.com"/>
      <add key="EmailFrom" value="quantil-sage-report@growflo.co.uk"/>
      <add key="SmtpServer" value="mail.growflo.co.uk"/>
      <add key="SmtpUsername" value="quantil-sage-report@growflo.co.uk"/>
      <add key="SmtpPassword" value="GeST5prava2r"/>
      <add key="SmtpPort" value="8889"/>
    </appSettings>
  
</configuration>