<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>  
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <target name="file" xsi:type="File" fileName="log.txt" />
      </targets>
    </nlog>
  
    <appSettings>
      <add key="BaseUri" value="https://quantilerp.growflo.co.uk/api/v1" />
      <add key="AuthorizationKey" value="Bearer YO3W7RcatOhP3fxlDJvI9QjkVeSKBp3DTMBP1SYDwig51bxDlsN0quVElofJ" />
      <!--<add key="BaseUri" value="https://quantilerp-dev.growflo.co.uk/" />-->
	  <add key="SageDsn" value="Quantil" />
	  <add key="SageDataPath" value="C:\ProgramData\Sage\Accounts\2021\QUANTIL\ACCDATA" />
      <!--<add key="SageUsername" value="Manager" />
      <add key="SagePassword" value="447657" />-->
		<add key="SageUsername" value="growflo" />
		<add key="SagePassword" value="growflo" />
      <add key="EnableSilentLogOn" value="false" />
      <add key="DownloadSingleOrders" value="true" />
      <add key="PreventDuplicates" value="true"/>
      <add key="DatabasePath" value="C:\ProgramData\Growflo\Quantil\Quantil.sqlite"/>
      <add key="ApplicationDataPath" value="C:\ProgramData\Growflo\Quantil" />
      <add key="LogJson" value="False" />
      <add key="SendEmailNotification" value="true"/>
      <add key="EmailTo" value="barrycurrie@gmail.com"/>
      <add key="EmailFrom" value="quantil-sage-report@growflo.co.uk"/>
      <add key="SmtpServer" value="mail.growflo.co.uk"/>
      <add key="SmtpUsername" value="quantil-sage-report@growflo.co.uk"/>
      <add key="SmtpPassword" value="GeST5prava2r"/>
      <add key="SmtpPort" value="8889"/>
	  <add key="ConfirmOrders" value="false"/>
    </appSettings>
  
</configuration>