<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" fileName="log.txt" />
    </targets>
  </nlog>

  <appSettings>
    <add key="BaseUri" value=""/>
    <add key="AuthorizationKey" value=""/>

    <add key="SageDataPath" value="C:\ProgramData\Sage\Accounts\2018\Woodlark\ACCDATA"/>
    <add key="SageUsername" value="Sales"/>
    <add key="SagePassword" value=""/>

    <add key="BaseFolder" value="C:\Users\barry\Dropbox\Code\OutputDigital\OutputDigital\Growflo Integrator\Test\Woodlark"/>
    
    
  </appSettings>

</configuration>