<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>  
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <target name="file" xsi:type="File" fileName="log.txt" />
      </targets>
    </nlog>
  
    <appSettings>
      <add key="BaseUri" value="https://dev-upload-17102017.erp.horticultureonline.co.uk/api/v1/"/>
      <add key="AuthorizationKey" value="Bearer YO3W7RcatOhP3fxlDJvI9QjkVeSKBp3DTMBP1SYDwig51bxDlsN0quVElofJ"/>
      
      <add key="SageDataPath" value="C:\ProgramData\Sage\Accounts\2018\Woodlark\ACCDATA"/>
      <!--<add key="SageUsername" value="Manager"/>
      <add key="SagePassword" value="447657"/>-->
      <!--<add key="SageUsername" value=""/>
      <add key="SagePassword" value=""/>-->
      <add key="SageUsername" value="Sales"/>
      <add key="SagePassword" value=""/>
      <add key="EnableSilentLogOn" value="true"/>
      <add key="DownloadSingleOrders" value="true"/>

      <add key="ApplicationDataPath" value="C:\Users\barry\Dropbox\Code\OutputDigital\OutputDigital\Growflo Integrator\Data"/>
      <add key="LogJson" value="False"/>
      
    </appSettings>
  
</configuration>